*{
    margin: 0;
}
body{
    overflow: hidden;
}
#home{
    width: 100%;
    height: 100%;
    background-image: url(../images/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: white;
    position: relative;
}
.HomeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
}
#leftMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home-content {
    transition: margin-left .5s;
    padding: 16px;
}
.sidenav .up span {
    position: relative;
    padding: 20px 8px 0px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
    top: 160px;
}
.up{
    overflow: hidden;
}
#home-content h2 {
    font-size: 60px;
}
#Home h2 {
    margin-top: 200px;
}
#Home h2 , p {
    text-align: center;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.openNav{
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.open{
    position: fixed;
    left: 0;
    height: 105%;
    width: 4%;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
}
.move{
    position: relative;
    left: -250;
}
.mt-4{
    margin-top: 2.5rem !important;
}
.meal-layer{
    position: absolute;
    background-color: rgba(241, 241, 241, 0.734);
    width: 100%;
    height: 100%;
    display: flex;
    top: 100%;
    justify-content: center;
    align-items: center;
    transition-property:all;
    transition-duration: 0.5s;
}
.meal{
    position: relative;
    overflow:hidden;
    cursor:pointer;
    border-radius: 10px;
}
.meal:hover .meal-layer{
    top:0;
}
#loading{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
} 
.s{
    font-size: 2rem;
}
.s-1{
    font-size: 1.5rem;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
.t{
    background-color: #FF3D00;
}
#name , #fname , #name2 , #phone , #age , #rePass , #pass , #email{
    background-color: black;
    color: white;
}
#name::placeholder , #fname::placeholder , #name2::placeholder, #phone::placeholder , #age::placeholder , #rePass::placeholder , #pass::placeholder , #email::placeholder{
    color: #818181;
}
@media all and (max-height:490px){
    .open{
        height: 107%;
    }
}
@media all and (max-width:1160px) {
    .open{
        width:13%
    }
}